page-payer {
    
    .div{
    height:37%;
    width:100%;
    background-image: url('../assets/imgs/logo1.jpg');
    background-size: cover;
    }
    .div1{
        margin: 15px;
        text-align: center;
    }
    .p1{
       
       font-style: italic;
      font-size: 18px;
    }
}
